# Data and model locations
/raw-data/
/data/
/models/
/evaluations/
/docker/
/logs/
/scratch/

# Slurm
/slurm/*
!slurm/example-jobs

# Temporary
/tmp/

# Python files
/venv/
*.egg-info
/build/
__pycache__
.DS_STORE
.hypothesis
.coverage
.pytest_cache

# Coq Files
.lia.cache
.nia.cache
.nra.cache
*.vo
*.vok
*.vos
*.glob
*.aux
.Makefile.d
Makefile.conf

# IDE files
.vscode

# Testing
.coverage
/htmlcov
/test/test_files/test-data
/test/test_files/tmp
/test/test_files/mini-dataset

